.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(0, 0, 0, 0.6);
}

.modal__content {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 30%;
	height: auto;
	margin: auto;
	padding: 0px 50px 50px 50px;
	background-color: #fefefe;
	border: 1px solid #888;
	border-color: #aaa;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	transform: translate(-50%, -50%);
}

.modal__close {
	margin: 10px -30px 10px 10px;
	float: right;
	font-size: 28px;
	font-weight: bold;
	color: #aaaaaa;
	cursor: pointer;
}

.modal--display-block {
	display: block;
}

.modal--display-none {
	display: none;
}
