.header {
	display: flex;
	flex-direction: row;
	position: fixed;
	width: 100%;
	height: 78px;
	z-index: 2;
	background-color: #ffffff;
	border-bottom: 2px solid #f1f1f1;
}

.header__title {
	height: 48px;
	margin: 15px 20px 0px 40px;
	line-height: 1.5;
	font-family: 'Lato', sans-serif;
	font-size: 2.5em;
	font-weight: bold;
	color: #333333;
}

.header__button {
	margin-top: 27px;
}