.filters {
  display: flex;
  flex-direction: row;
  height: 65px;
	background-color: #ffffff;
}

.filters__select {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.ilters__select__company {
	width: 120px;
	margin-left: 37px;
	float: left;
}

.filters__select__status {
	float: right;
	margin-left: 10px;
}

.filters__pagination {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 0;
	margin-top: 5px;
}

.filters__pagination__number {
	font-size: 14px;
	margin-top: 10px;
}

.filters__pagination__number__opacity {
	opacity: 0.5;
}

.filters__pagination__button {
  margin-left: 15px;
  margin-top: 5px;
}

.filters__pagination__button__arrow {
	padding: 3px;
	border-radius: 4px;
	background-color: #ffffff;
	border: 1px solid #ccc;
	color: #ffffff;
	cursor: pointer;
}

.filters__pagination__button__arrow__prev {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
}

.filters__pagination__button__arrow__next {
  transform: rotate(-270deg);
  -webkit-transform: rotate(-270deg);
	-ms-transform: rotate(-270deg);
}



